body {
    align-items: center;
    padding: 50px;
    background-color: skyblue;
    font-family: sans-serif
}

#container {
    display: center;
    justify-content: center;
}

.header {

    text-align: center;
    padding-top: 50px;;
}

.nav-item .nav-link {
    color: black;
}