body {
    align-items: center;
    padding: 25px;
    background-color: #66B9BF;
    font-family: sans-serif
}

#container {
    display: center;
    justify-content: center;
}

.header {
    font-family: "Goudy Old Style", Garamond, "Big Caslon";
    text-align: center;
    color: #373737;
    padding-top: 25px;
}



.nav-item .nav-link {
    color: #373737;
    align-content: center;
}